body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

#valentineQuestion {
    font-size: 2.5em;
    color: #d32f2f;
    margin-bottom: 20px;
}

.buttons button {
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.yes-button {
    background-color: #4caf50;
    color: white;
}

.no-button {
    background-color: #f44336;
    color: white;
}

.gif_container img {
    width: 100%;
    max-width: 300px; /* Adjust size as needed */
    height: auto;
    margin-top: 20px;
}

.no-message-container {
    color: #f44336; 
    font-size: 1em;
    margin-bottom: 5px; /* Adjust spacing as needed */
    text-align: center; /* Center the message above the button */
}
